{% extends "base.html" %}
{% block content %}

<section class="card">
  <h2>Nova tarefa</h2>
  <form method="post">
    <label>Título *</label>
    <input id="title" name="title" required maxlength="80" placeholder="Ex: Estudar Flask">

    <label>Descrição</label>
    <textarea id="description" name="description" rows="4" placeholder="Detalhes..."></textarea>

    <label>Categoria</label>
    <input id="category" name="category" maxlength="30" placeholder="Ex: faculdade, casa, trabalho">

    <div class="row">
      <button class="btn primary" type="submit">Salvar</button>
      <a class="btn" href="{{ url_for('index') }}">Cancelar</a>
    </div>
  </form>
</section>

{% endblock %}